@using WebsiteBanSach.Models
@model LoginViewModel
@{
    ViewBag.Title = "Đăng nhập";
}

<style>
    .formLogin {
        background-image:  url("https://www.studytienganh.vn/upload/2021/03/93941.jpg");
        background-attachment: fixed;
        
    }

    .containLogin {
        background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,0.8) 50%, rgba(252,176,69,1) 100%);
       
    }
</style>
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<div class="container formLogin" style="margin-top:160px">

    
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-5 containLogin">
            <h2 class="text-center" style="font-weight:bolder;color:#ffffff;">@ViewBag.Title.</h2>
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4></h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-warning" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-10 control-label", @style = "font-weight:bolder;color:#ffffff;" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-warning"})
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-10 control-label", @style = "font-weight:bolder;color:#ffffff;" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-warning" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe, new {@style = "font-weight:bolder;color:#ffffff;" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Đăng nhập" class="btn btn-success" />
                        </div>
                    </div>

                    <p class="text-light" style="font-weight:bolder">
                        @Html.ActionLink("Bạn chưa có tài khoản?", "Register")
                    </p>
                    //Enable this once you have account confirmation enabled for password reset functionality
                    @*<p>
                    @Html.ActionLink("Bạn quên mật khẩu?", "ForgotPassword")
                </p>*@
                }
            </section>
        </div>
        <div class="col-md-3"></div>


    </div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
