@model IEnumerable<WebsiteBanSach.Models.ShoppingCartItem>

@if (Model != null && Model.Any())
{
    <h3>Đơn hàng <span style="float:right;position:relative"><small>@Model.Count() sản phẩm</small></span></h3>
    var i = 0;
    var tongtien = decimal.Zero;
    <div style="border:1px solid #808080;">
        <table class="table">
            @foreach (var item in Model)
            {
                tongtien += item.TotalPrice;
                <tr>
                    <td><img src="@item.ProductImg" width="50"/></td>
                    <td>@item.ProductName</td>
                    <td width="130">@WebsiteBanSach.Common.Common.FormatNumber(item.Price, 0)đ <small>x</small> @item.Quantity</td>
                </tr>
            }
            <tr>
                <th></th>
                
                <th>Tổng tiền</th>
                <th>@WebsiteBanSach.Common.Common.FormatNumber(tongtien, 0)đ</th>
            </tr>
        </table>
    </div>

}

